{% extends "base.html" %}
{% block body %}

<style>
    :root {
         --mdc-theme-primary: #fcb8ab;
         --mdc-theme-secondary: #feeae6;
    }

    .mdc-data-table__header-cell  {
        background-color: #121212!important;
        color: #ffffff;
    }

    .mdc-data-table__cell  {
        color: #ffffff;
    }

    .mdc-data-table {
        background-color: #121212;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-left: auto;
        max-width: 70rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 98vh;
    }

    .title {
        background-color: #121212;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-left: auto;
        max-width: 70rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }










</style>


<div class="mdc-data-table">
    <div class="mdc-data-table__table-container">
        <div class="mdc-top-app-bar title" style="top: 0px; ">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button onclick="home()" class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                            style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                        arrow_back
                    </button>
                    <span class="mdc-top-app-bar__title">List Of Books</span></section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">

                    <div class="mdc-text-field">

                          <input style="color: white;" class="mdc-text-field__input" id="search_input">
                          <div class="mdc-line-ripple"></div>

                        </div>

                    <button onclick="search()" class="mdc-icon-button material-icons mdc-top-app-bar__action-item mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                            aria-label="Download"
                            style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                        search
                    </button>

                    <button onclick="goAddBook()" class="mdc-icon-button material-icons mdc-top-app-bar__action-item mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                            aria-label="Bookmark this page"
                            style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                        add
                    </button>
                </section>
            </div>
        </div>

        <table class="mdc-data-table__table" style="margin-top: 120px; background-color: #121212!important;">
            <thead>
            <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Book ID</th>
                <th class="mdc-data-table__header-cell " role="columnheader" scope="col">Book Title</th>
                <th class="mdc-data-table__header-cell " role="columnheader" scope="col">Book Author</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Book ISBN</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Action</th>
            </tr>
            </thead>
            <tbody class="mdc-data-table__content" style="background-color: #121212;">

            {% for book in books %}

            <tr class="mdc-data-table__row">
                <th class="mdc-data-table__cell" scope="row">{{book[0]}}</th>
                <td class="mdc-data-table__cell ">{{book[1]}}</td>
                <td class="mdc-data-table__cell ">{{book[2]}}</td>
                <td class="mdc-data-table__cell">{{book[3]}}</td>
                <td class="mdc-data-table__cell">
                    <button onclick="updateBook({{book[0]}})" class="mdc-button mdc-card__action mdc-card__action--button"><span
                            class="mdc-button__ripple"></span> Edit
                    </button>
                </td>
            </tr>

            {% endfor %}


            </tbody>
        </table>


    </div>

    <div style="margin-left: auto; margin-right: auto;">

        <button onclick="backPage({{back}},{{next}})" class="mdc-button mdc-card__action mdc-card__action--button"><span
                class="mdc-button__ripple"></span> Previous
        </button>
        <span class="mdc-typography--button" style="color: #ffffff;">{{ back }}-{{ next }}</span>
        <button onclick="nextPage({{back}},{{next}})" class="mdc-button mdc-card__action mdc-card__action--button"><span
                class="mdc-button__ripple"></span> Next
        </button>

    </div>
</div>


<script>
function home() {
window.location = "/"
}

function nextPage(back,next) {
    back = back + 10
    next = next + 10
    window.location = `/books/view/${back}-${next}`
}

function backPage(back,next) {

    if (back != "1") {
        back = back - 10
        next = next - 10
        window.location = `/books/view/${back}-${next}`
    }


}

function updateBook(book_id) {
    window.location = '/books/update/' + book_id
}

function goAddBook() {
    window.location = '/books/add'
}

function search() {


window.location = `/books/search-${document.getElementById('search_input').value}`

}

</script>


{% endblock %}



