<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>


    body {
        background-color : #292929;
    }


    </style>
    {% block title %}
    {% endblock %}
</head>

<body>
<div>
    {% block body %}
    {% endblock %}

</div>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
<script>

    function openConsole() {
         var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "/console", false ); // false for synchronous request
        xmlHttp.send( null );

         xmlHttp.responseText;
        window.open('', '_self', ''); window.close();
    }

    function setTitle(title) {
        document.getElementById('title').innerText = title;
    }

    {% block scripts %}
    {% endblock %}

</script>
</body>
</html>