{% extends "base.html" %}
{% block body %}

<style>

.my-card-content {
  padding: 16px;
}

.my-card {
    border-radius: 0.25rem !important;
   }

</style>


<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
            <div class="my-card mdc-card mdc-elevation--z3 my-card demo-card demo-basic-with-header">
                <div class="demo-card__primary my-card-content">
                    <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Books</h2>
                </div>
                <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
                    <div class="mdc-card__media mdc-card__media--16-9 demo-card__media"
                         style="background-image: url(&quot;/assets/library_books.jpg&quot;);"></div>
                    <div class="demo-card__secondary mdc-typography mdc-typography--body2 my-card-content">View and
                        manage books in the Library.
                    </div>
                </div>
                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <button onclick="viewBooks()" class="mdc-button mdc-card__action mdc-card__action--button"><span
                                class="mdc-button__ripple"></span> View
                        </button>
                        <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                class="mdc-button__ripple"></span> Manage
                        </button>
                    </div>
                    <div class="mdc-card__action-icons">

                        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
                                title="More options" data-mdc-ripple-is-unbounded="true">more_vert
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="my-card mdc-card mdc-elevation--z3 my-card demo-card demo-basic-with-header">
                <div class="demo-card__primary my-card-content">
                    <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Books</h2>
                </div>
                <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
                    <div class="mdc-card__media mdc-card__media--16-9 demo-card__media"
                         style="background-image: url(&quot;/assets/library_books.jpg&quot;);"></div>
                    <div class="demo-card__secondary mdc-typography mdc-typography--body2 my-card-content">View and
                        manage books in the Library.
                    </div>
                </div>
                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                class="mdc-button__ripple"></span> View
                        </button>
                        <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                class="mdc-button__ripple"></span> Manage
                        </button>
                    </div>
                    <div class="mdc-card__action-icons">

                        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
                                title="More options" data-mdc-ripple-is-unbounded="true">more_vert
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell">
            <div class="my-card mdc-card mdc-elevation--z3 my-card demo-card demo-basic-with-header">
                <div class="demo-card__primary my-card-content">
                    <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Books</h2>
                </div>
                <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
                    <div class="mdc-card__media mdc-card__media--16-9 demo-card__media"
                         style="background-image: url(&quot;/assets/library_books.jpg&quot;);"></div>
                    <div class="demo-card__secondary mdc-typography mdc-typography--body2 my-card-content">View and
                        manage books in the Library.
                    </div>
                </div>
                <div class="mdc-card__actions">
                    <div class="mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                class="mdc-button__ripple"></span> View
                        </button>
                        <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                class="mdc-button__ripple"></span> Manage
                        </button>
                    </div>
                    <div class="mdc-card__action-icons">

                        <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
                                title="More options" data-mdc-ripple-is-unbounded="true">more_vert
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>


<script>

    function viewBooks() {
        window.location = "/books/view"
    }

</script>

{% endblock %}